// Base colors
$color-white: #fff;
$color-black: #000;

//Extended
$color-coral-red: #ed220b;
$color-sunset-orange: #ff4f43;
$color-isabelline: #eee8e1;

//Neutrals
$color-neutral-50: #fafbfc;
$color-neutral-100: #f6f7f8;
$color-neutral-200: #f1f2f4;
$color-neutral-300: #e2e5e8;
$color-neutral-400: #bbc0c4;
$color-neutral-500: #8e969d;
$color-neutral-600: #788189;
$color-neutral-700: #4d5964;
$color-neutral-800: #34424e;
$color-neutral-900: #1d2d3a;

//Interaction
$color-interaction-regular: $color-coral-red;
$color-link: #2a81a6;

//Feedback
$color-success: #2aa66a;
$color-success-light: #afdac5;
$color-warning: #ffc90b;
$color-warning-light: #fdeeb9;
$color-error: $color-coral-red;
$color-error-light: #f8d4d0;
$color-information: $color-link;
$color-information-light: #dbeef5;

//Text
$color-text: $color-neutral-900;
$color-text-muted: $color-neutral-500;
