/*!
 * Copyright 2019 steadybit GmbH. All rights reserved.
 */
@import 'colors';

$desktop: 1024px;
$desktop-wide: 1440px;
$desktop-extra-wide: 1600px;

$border-thin: 1px solid $color-neutral-300;

@function shadow-focus($base-color) {
    @return 0 0 0 2px rgba($base-color, 0.5);
}

$shadow-focus: shadow-focus($color-neutral-400);
$shadow-small: 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
$shadow-medium: 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.04);
$shadow-large: 0px 16px 24px rgba(0, 0, 0, 0.16), 0px 16px 32px rgba(0, 0, 0, 0.16), 0px 0px 24px rgba(0, 0, 0, 0.08);

@mixin fullscreen-page() {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    animation: delayed-fade-in 300ms forwards;
    text-align: center;
}

@mixin spinner($size: 1em) {
    &::after {
        position: absolute;
        left: calc(50% - (#{$size} / 2) - 2px);
        top: calc(50% - (#{$size} / 2) - 2px);
        animation: spin-around 0.5s infinite linear, delayed-fade-in 300ms forwards;
        border: ($size / 8) solid currentcolor;
        border-radius: 290486px;
        border-right-color: transparent;
        border-top-color: transparent;
        content: '';
        display: block;
        height: $size;
        width: $size;
    }
}

@keyframes spin-around {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
