.deal {
  cursor: pointer;

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__body {
    display: flex;
  }

  &__price {
    white-space: nowrap;
    margin-left: auto;
  }
}